<html>
<body>
    <h2>Your cat details:</h2>
    <% for (var cat of cats) { %>
        <h3>Name: <%= cat.name %></h3>
        <h4>Age: <%= cat.age %></h4>
        <h4>Sleeping Spots: <%= cat.spots %></h4>
        <hr>
    <% } %>
</body>
</html>
